blinker==1.6.2
Bottleneck @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_29949159-f86f-474b-bc1f-aaa1e0e222b4ofusifik/croots/recipe/bottleneck_1657175564045/work
certifi @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_b64zphacdv/croot/certifi_1683875375103/work/certifi
click==8.1.6
control @ file:///home/conda/feedstock_root/build_artifacts/control_1653759203540/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Flask==2.3.2
Flask-SQLAlchemy==3.0.5
fonttools==4.25.0
greenlet==2.0.2
gunicorn==21.2.0
itsdangerous==2.1.2
Jinja2 @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_6adj7x0ejx/croot/jinja2_1666908137966/work
kiwisolver @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_ca2945cc-8f2f-407b-8e24-f05d29ee2f4fvto5sdlk/croots/recipe/kiwisolver_1653292053344/work
MarkupSafe @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_d4a9444f-bd4c-4043-b47d-cede33979b0fve7bm42r/croots/recipe/markupsafe_1654597878200/work
matplotlib @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_dahyf88w88/croot/matplotlib-suite_1667356719360/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
munkres==1.1.4
numexpr @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_cef3ah6r8w/croot/numexpr_1668713880672/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1668919238457/work
opencv-python==4.7.0.72
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandas==1.5.1
Pillow==9.2.0
psycopg2-binary==2.9.7
pyparsing @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_3a17y2delq/croots/recipe/pyparsing_1661452538853/work
pypng==0.20220715.0
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1647306555263/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1caf090c-01b6-4973-adac-d2eb884a674e7zonb9eb/croots/recipe/pytz_1654762641285/work
qrcode==7.4.2
scipy==1.9.3
six @ file:///tmp/build/80754af9/six_1644875935023/work
slycot @ file:///Users/runner/miniforge3/conda-bld/slycot_1669237547430/work
SQLAlchemy==2.0.19
tornado @ file:///private/var/folders/sy/f16zz6x50xz3113nwtb9bvq00000gp/T/abs_1fimz6o0gc/croots/recipe/tornado_1662061695695/work
typing_extensions==4.7.1
Werkzeug==2.3.6
