<div class="input-group mb-3">
    <input type="text" class="form-control" id="itemname" name="itemname" placeholder="Enter item name" required>
    <div class="invalid-feedback">
        Item name cannot be empty.
    </div>
</div>
<div class="input-group mb-3">
    <select class="form-control" id="itemcategory" name="itemcategory" placeholder="Select item category" required>
        <option>Appetizer</option>
        <option>Side</option>
        <option>Entree</option>
        <option>Dissert</option>
        <option>Beverage</option>
        <option>Others</option>
    </select>
</div>

<table class="table table-striped align-middle">
    <thead>
        <tr>
            <th>Allergen</th>
            <th>Can remove upon request?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="eggCheck" name="eggCheck">
                    <label class="form-check-label" for="eggCheck">Egg</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="eggOptions" name="eggOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="nutsCheck" name="nutsCheck">
                    <label class="form-check-label" for="eggCheck">Nuts</label>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select class="form-control" id="nutsOptions" name="nutsOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="milkCheck" name="milkCheck">
                    <label class="form-check-label" for="milkCheck">Milk</label>
                </div>
            </td>
            <td>
                <div class="form-group">
                    <select class="form-control" id="milkOptions" name="milkOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="wheatCheck" name="wheatCheck">
                    <label class="form-check-label" for="wheatCheck">Wheat</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="wheatOptions" name="wheatOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="fishCheck" name="fishCheck">
                    <label class="form-check-label" for="fishCheck">Fish</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="fishOptions" name="fishOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="shellfishCheck" name="shellfishCheck">
                    <label class="form-check-label" for="shellfishCheck">Shellfish</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="shellfishOptions" name="shellfishOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="sesamiCheck" name="sesamiCheck">
                    <label class="form-check-label" for="sesamiCheck">Sesame</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="sesamiOptions" name="sesamiOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="peanutsCheck" name="peanutsCheck">
                    <label class="form-check-label" for="peanutsCheck">Peanuts</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="peanutsOptions" name="peanutsOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="form-group col-sm">
                    <input class="form-check-input" type="checkbox" id="soyCheck" name="soyCheck">
                    <label class="form-check-label" for="soyCheck">Soy</label>
                </div>
            </td>
            <td>
                <div class="form-group col-sm">
                    <select class="form-control" id="soyOptions" name="soyOptions">
                        <option>No</option>
                        <option>Yes</option>
                    </select>
                </div>
            </td>
        </tr>
    </tbody> 
</table>