<div class="form-row">
    <input type="text" class="form-control" id="itemname" placeholder="Menu Item">
</div>
<div class="form-row">
    <table class="table">
        <thead>
            <tr>
                <th>Allergen</th>
                <th>Can substitute or remove upon request</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group col-sm">
                        <input class="form-check-input" type="checkbox" id="eggCheck">
                        <label class="form-check-label" for="eggCheck">Egg</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="eggOptions">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group col-sm">
                        <input class="form-check-input" type="checkbox" id="nutsCheck">
                        <label class="form-check-label" for="eggCheck">Nuts</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="nutsOptions">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                        </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group col-sm">
                        <input class="form-check-input" type="checkbox" id="milkCheck">
                        <label class="form-check-label" for="milkCheck">Milk</label>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <select class="form-control" id="milkOptions">
                            <option>No</option>
                            <option>Yes</option>
                        </select>
                        </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>