<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AllergenX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='html2flask.js') }}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script>
      function querydb(){

        var customerID = geturlparam("location");
        var chkWheat = document.getElementById("chkWheat").checked;
        var chkMilk = document.getElementById("chkMilk").checked;
        var chkEggs = document.getElementById("chkEggs").checked; 

        var chkFish = document.getElementById("chkFish").checked;
        var chkShellfish = document.getElementById("chkShellfish").checked;
        var chkSesame = document.getElementById("chkSesame").checked;

        var chkNuts = document.getElementById("chkNuts").checked;
        var chkPeanuts = document.getElementById("chkPeanuts").checked;
        var chkSoy = document.getElementById("chkSoy").checked;

        var server_data = [
          {"customerID": customerID},
          {"chkWheat": chkWheat},
          {"chkMilk": chkMilk},
          {"chkEggs": chkEggs},
          {"chkFish": chkFish},
          {"chkShellfish": chkShellfish},
          {"chkSesame": chkSesame},
          {"chkNuts": chkNuts},
          {"chkPeanuts": chkPeanuts},
          {"chkSoy": chkSoy}
        ];
    
        $.ajax({
        type: "POST",
        url: "/query_db",
        data: JSON.stringify(server_data),
        contentType: "application/json",
        dataType: 'json', 
        success: function(result) {
                console.log("Result:");
                console.log(result);
                $("#querytable tbody").empty();
                $.each(result, function(){
                    var markup = "<tr><td>" + this.item + "</td><td>" + score2symbol(this.eggScore) + "</td><td>" + score2symbol(this.nutsScore) + "</td><td>" + score2symbol(this.milkScore) + "</td><td>" + score2symbol(this.wheatScore) + "</td><td>" + score2symbol(this.fishScore) + "</td><td>" + score2symbol(this.shellfishScore) + "</td><td>" + score2symbol(this.sesamiScore) + "</td><td>" + score2symbol(this.peanutsScore) + "</td><td>" + score2symbol(this.soyScore) + "</td></tr>";
                    $("#querytable").append(markup);
                })
            } 
      });
    }

    $(document).ready(function(){querydb();});

    function resetfilter(){
      document.getElementById("chkWheat").checked = false;
      document.getElementById("chkMilk").checked = false;
      document.getElementById("chkEggs").checked = false;

      document.getElementById("chkFish").checked = false;
      document.getElementById("chkShellfish").checked = false;
      document.getElementById("chkSesame").checked = false;

      document.getElementById("chkNuts").checked = false;
      document.getElementById("chkPeanuts").checked = false;
      document.getElementById("chkSoy").checked = false;

      querydb();
    }
    </script>
  </head>
  <body>

    {% extends 'baseAIG.html' %}

    {% block content %}
    <div class="container">
      <main>
      <p class="font-weight-light">Tell us what you are allergic to:</p>

      <div class="row">
        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkWheat">
            <label class="form-check-label pl-5" for="chkWheat">Wheat</label>
          </div>
        </div>

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkMilk">
            <label class="form-check-label pl-5" for="chkMilk">Milk</label>
          </div>
        </div>

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkEggs">
            <label class="form-check-label pl-5" for="chkEggs">Eggs</label>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkFish">
            <label class="form-check-label pl-5" for="chkFish">Fish</label>
          </div>
        </div>

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkShellfish">
            <label class="form-check-label pl-5" for="chkShellfish">Crustaceans (shellfish)</label>
          </div>
        </div>

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkSesame">
            <label class="form-check-label pl-5" for="chkSesame">Sesame</label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkNuts">
            <label class="form-check-label pl-5" for="chkNuts">Tree Nuts</label>
          </div>
        </div>   

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkPeanuts">
            <label class="form-check-label pl-5" for="chkPeanuts">Peanuts</label>
          </div>
        </div>

        <div class="col-sm themed-grid-col d-flex  ">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="chkSoy">
            <label class="form-check-label pl-5" for="chkSoy">Soy</label>
          </div>
        </div>

      </div>

      <hr class="my-4">

      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" onclick="querydb()">
        Filter Menu
      </button>
      <button type="button" class="btn btn-secondary" onclick="resetfilter()">
        Reset Filter
      </button>

      <hr class="my-4">

      <div class="row">
          X : Contains the ingredient.</i>
      </div>
      <div class="row">
          * : Contains the ingredient but options available. Notify your server.</i>
      </div> 

      <table class="table table-striped table-sm align-middle table-bordered" id="querytable">
          <thead>
              <tr>
                  <th>Item</th>
                  <th>Eggs</th>
                  <th>Tree Nuts</th>
                  <th>Milk</th>
                  <th>Wheat</th>
                  <th>Fish</th>
                  <th>Shellfish</th>
                  <th>Sesame</th>
                  <th>Peanuts</th>
                  <th>Soy</th>
              </tr>
          </thead>
          <tbody>
          </tbody>
      </table>

      <!-- Modal -->
      <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="submitModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="submitModalLabel">Disclaimer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                      <p class="text-danger">We handle multiple allergens in our kitchens and cannot gurantee any item is allergen free.</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="querydb()">I understand</button>
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </main>
  {% endblock %}
  </body>
</html>